---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
	</head>
	<body>
		<Nav></Nav>
		<div class="wrapper mt4 mb4">
			<p> Insert an image here</p>
			<h1>Whoopsies!</h1>
			<p>Somehow you made it to a page that doesn't exist. Please go back to plane of existence or you may cause reality to collapse in on itself!</p>
		</div>
		<Footer></Footer>
	</body>
</html>
