---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Contact from "../components/ContactForm/index.jsx";
---

<html lang="en">
	<head>
		<MainHead title="Contact Me" />
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>Contact Me</h1>
			<Contact />
		</div>
		<Footer />
	</body>
</html>