---
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index.jsx";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
---

<html lang="en">
	<head>
		<MainHead title="Resume"/>
		<style lang="scss">
			.center {
				display: flex;
				justify-content: center;
			}

			.heroImg {
				object-fit: scale-down;

				img {
					width: 50%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				color: var(--t-bg);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="center">About Me</h1>
			<div class="heroImg center">
				<img
					src="assets/works/Pittsburgh.jpg"
				/>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					Experienced Software and DevOps Engineer from Pittsburgh. If you like my resume and have a unique opportunity, I'd love to chat about it. Please reach out to me via <span><a href="https://www.linkedin.com/in/jonathan-stump-90a4368a/">LinkedIn</a></span> or use the <span><a href="/contact">contact form</a></span>. 
				</p>
			</div>
			<div class="center">
				<a href="https://drive.proton.me/urls/8CYTXSPT08#Q0iU1YPkSrT0">
					<Button>Download Resume (PDF)</Button>
				</a>
			</div>
		</div>
		<Footer />
	</body>
</html>
